*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ==============Custome annimation ============== */
@keyframes fadeInOpacityNav {
    0% {
        /* opacity: 0; */
        transform: translateY(-50%);
    }

    100% {
        /* opacity: 1; */
        transform: translateY(0);
    }
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
        transform: scale(.1, .1);
    }

    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}


/* ==============Navbar ============== */
.sticky {
    position: fixed !important;
    top: 0;
    width: 100%;
    background-color: #ffffff !important;
    box-shadow:
        0 -3em 3em rgba(0, 0, 0, 0.1),
        0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    animation-name: fadeInOpacityNav;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: .8s;
    /* transition: ease-in-out 2s; */
}

#navbar {
    z-index: 10;
    transition: ease-in-out 1s;
    color: rgb(61, 61, 61);
}


/* sidenav service */
.nav-link {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.8);
    width: 100%;
    display: block;
    padding: 0.8rem 1rem;
    cursor: pointer;
    box-sizing: border-box;
    transition: color ease-in 2s;
}

.nav-link:hover {

    color: #fff;
    font-weight: 600;
}

.nav-link i {
    padding-right: 10px;
}

/* ##########end navbar########## */

/* ==============swiper js slider ============== */
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ##########end swiperjs########## */

/* ============== slider text content ============== */
.slider-text-btn {
    border: none;
    outline: none;
    border-radius: 2rem;
    padding: 0 50px;
    background: -webkit-linear-gradient(-45deg, #9ff669 0%, #31de79 100%);
    text-transform: capitalize;
}

.subheading {
    background: -webkit-linear-gradient(-45deg, #9ff669 0%, #31de79 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.subparagraph {
    line-height: 1.5rem;
}

/* ##########end slider text content########## */

/* ============== service text content ============== */
.service-text-btn {
    border: none;
    outline: none;
    border-radius: 2rem;
    padding: 0 30px;
    background: -webkit-linear-gradient(-45deg, #9ff669 0%, #31de79 100%);
    text-transform: capitalize;
}

.service-details {
    display: none !important;
}

.service-details div div p .fa-solid {
    /* background: inear-gradient(135deg, #9ff669 0%, #31de79 100%);
     */
    font-size: 72px;
    background: -webkit-linear-gradient(-45deg, #9ff669 0%, #31de79 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.show {
    display: block !important;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: .8s;
}

/* .nav-link:hover:after {
    border-radius: 0 10px 10px 0;
} */
.active {
    transition: content ease-out 2s;
}

.active::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    transform: translateY(50%) rotate(-45deg);
    left: 516px;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
    z-index: 3;

}

.customer-feedback {
    /* transform: translateY(-20%); */
    background-image: url(../images/complain.webp);
    background-repeat: repeat-y;
    background-size: cover;
    height: 536px !important;
    width: 100%;
    /* z-index: -1; */
    /* overflow: hidden; */
}

/* ============== service nav content ============== */
.service-nav-bar {
    box-sizing: border-box;

}

.service-nav-bar li {
    transition: transform ease-in-out .6s, width ease-in-out .6s;
    height: calc(536px/4 - .3%) !important;
    background-color: rgba(255, 255, 255, .85);
    margin-bottom: .3%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.service-nav-content {
    width: 95%;
}

.service-nav-bar li:hover {
    transform: translateX(-17%);
    width: 120%;
}

.service-ancor {
    width: 5%;
}

.service-ancor::before {
    content: "<";
    padding: 0 10px;
    font-size: 2em;
    display: block;
    color: #92edb8;
    transform: translateX(-50%);
    font-weight: 400;
}

.service-nav-bar li:hover .service-ancor::before {
    content: '>';
    padding: 0 10px;
    font-size: 2em;
    display: block;
    color: #92edb8;
    transform: translateX(-50%);
    font-weight: 400;
    transition: ease-in 2s;
}


.service-nav-bar li h4 {
    color: #31de79;
    font-size: 2em;
}